github "AFNetworking/AFNetworking"
github "lizhihui0215/AFNetworkActivityLogger" "3_0_0"
github "jsonmodel/jsonmodel"
github "forkingdog/UITableView-FDTemplateLayoutCell"
github "lizhihui0215/MJRefresh"
github "jdg/MBProgressHUD"
github "lizhihui0215/KissXML"
github "ccgus/fmdb"
github "lizhihui0215/WebViewJavascriptBridge"
github "SnapKit/Masonry"
#https://github.com/steipete/Aspects
#https://github.com/zwaldowski/BlocksKit
