github "AFNetworking/AFNetworking"
github "lizhihui0215/AFNetworkActivityLogger" "3_0_0"
#github "jsonmodel/jsonmodel"
github "realm/realm-cocoa"
github "Mantle/Mantle"
github "forkingdog/UITableView-FDTemplateLayoutCell"
github "lizhihui0215/MJRefresh"
github "jdg/MBProgressHUD"
github "lizhihui0215/KissXML"
#github "ccgus/fmdb"
github "lizhihui0215/WebViewJavascriptBridge"
github "SnapKit/Masonry"
#https://github.com/zwaldowski/BlocksKit 工具
github "lizhihui0215/BlocksKit"
#https://github.com/steipete/Aspects 面向切面
#https://github.com/oarrabi/OAStackView UIStackView iOS 7.0以上
#https://github.com/Augustyniak/RATreeView  展开列表
#https://github.com/mxcl/PromiseKit 异步框架
